    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    $main-bg-color: hsl(218, 29%, 13%);
    $footer-bg-color: hsl(216, 56%, 9%);
    $testimonials-bg-color: hsl(216, 53%, 9%);
    $intro-and-email-sign-up-background: hsl(217, 28%, 15%);
    $main-font:'Raleway', sans-serif;
    
  
    @mixin mq($breakpoint) {

        // $breakpoint is simply a variable that can have several values

        @if $breakpoint==tablet {

            // here `laptop` is the value of $breakpoint
            // when call laptop, we mean the following piece of code        

        @media only screen and (min-width: 765px) {
          @content;
        }
      }

      @if $breakpoint==laptop {
        @media only screen and (min-width: 1024px) {
          @content;
        }
      }
    }